name: Code Style Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  code-style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.18
      with:
        clangFormatVersion: 9
