name: Build for Mac

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-mac-native:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-14
            arch: arm64
          - os: macos-13
            arch: x86_64
    
    steps:
    - uses: actions/checkout@v4
      name: checkout
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.7.*'
        modules: 'qtmultimedia'
      
    - run: ./scripts/build_macos_native.sh
      name: build-for-mac

    - name: Rename zip with architecture
      run: mv build/bin/mac.zip build/bin/mac-${{ matrix.arch }}.zip

    - uses: actions/upload-artifact@v4
      with:
         name: tsMuxer-${{ matrix.arch }}
         path: build/bin/mac-${{ matrix.arch }}.zip
      name: upload-artefact
